<section id="intro">
        <section class="shell">
            <h2 class="theme-apexb">Where Renters Can Find Real Listings, Presented Honestly And Accurately</h2>
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item">               
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <form action="">
                                  <div class="bedbathdrop">
                                  <span class="homebtnlabel">Beds:</span> :
                                      <select name="Beds">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                          </div>
                                      </select>
                                    </form>
                                </div>  
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-2"></div>
                                <div class="ch-info-back">
                                  <form action="">
                                    <div class="bedbathdrop">
                                      <span class="homebtnlabel">Baths:</span> :
                                      <select name="Baths">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                      </select>
                                      </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-3"></div>
                                <div class="ch-info-back">
                                     <div class="rentdrop">
                                    <span class="homebtnlabel">Min 
                                    <input type="text" class="homerentmin" placeholder=" Minimum Rent"></a><br><br>
                                    Max
                                    <input type="text" class="homerentmax" placeholder=" Maximum Rent"></a>
                                  </span>
                                </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
         <!--  <form id="searchbox" action=""> -->
          <%= form_tag listings_path, :id => 'searchbox', :method => 'get' do %>
          <!-- search bar id is in text field tag -->
          <%= text_field_tag :search, params[:search], :placeholder => ' City, Zip, Neighborhood'%><br><br>
          <%= submit_tag 'Find Apartments', :class=> 'btn-search', :name => nil %>
          <% end %>        
</section>  </section>
  <section id="tour" class="fake-page">
        <span class="top"></span>
<section class="content">
  <section class="shell">
  </section>
  <div id="da-slider" class="da-slider">
        <div class="da-slide">
          <h2>Customize Search Borders</h2>
          <p>lorem lorem lorem</p>
          <a href="#" class="da-link">Search</a>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>Address Verification</h2>
          <p>lorem lorem lorem</p>
          <a href="#" class="da-link">Search</a>
          <div class="da-img"><img src="/assets/2.png" alt="image01" /></div>
        </div>
        <div class="da-slide">
          <h2>Smart Filters</h2>
          <p>lorem lorem lorem</p>
          <a href="#" class="da-link">Search</a>
          <div class="da-img"></div>
        </div>
        <div class="da-slide">
          <h2>Saved Searches & Overlays</h2>
          <p>lorem lorem lorem</p>
          <a href="#" class="da-link">Search</a>
          <div class="da-img"></div>
        </div>
        <nav class="da-arrows">
          <span class="da-arrows-prev"></span>
          <span class="da-arrows-next"></span>
        </nav>
      </div>
        </div>
    <script type="text/javascript" src="/assets/jquery.cslider.js"></script>
    <script type="text/javascript">
      $(function() {
      
        $('#da-slider').cslider();
        
      });
      </script>
</section>  

</section>
  <section id="plans" class="fake-page">
        <section class="shell">
</section>  </section>
  <section id="more" class="fake-page">
        <section class="shell">
</section></section>
</section>

</body></html>