<section id="intro">
        <section class="shell">
            <h2 class="theme-apexb">Value message goes here</h2>
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item">               
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <h3>How Many Bedrooms?</h3>
                                    <p><input type="text" class="bedbathbar" placeholder="How Many Beds?"></p>
                                </div>  
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-2"></div>
                                <div class="ch-info-back">
                                    <h3>How Many Bathrooms?</h3>
                                    <p><input type="text" class="bedbathbar" placeholder="How many Baths?"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-3"></div>
                                <div class="ch-info-back">
                                    <h3>Rent Range?</h3>
                                    <p><input type="text" class="bedbathbar" placeholder="Min Rent"></a></p>
                                    <p><input type="text" class="bedbathbar" placeholder="Max Rent"></a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul><br><br>
  <a href="#" class="btn-search'">Find Apartments</a>
  <br><br><br><br><br>
  <p class="theme-apexb t-yellow"><br> What makes TranspaRent<br>Unique?</p>
</section>  </section>
  <section id="tour" class="fake-page">
        <span class="top"></span>
<section class="content">
  <section class="shell">
    <h2 class="theme-apex">Feature Tour Goes Here</h2>
  </section>
</section>  </section>
  <section id="plans" class="fake-page">
        <section class="shell">
</section>  </section>
  <section id="more" class="fake-page">
        <section class="shell">
</section></section>
</section>

</body></html>