  <!DOCTYPE html>
<html lang="en" class=" js cssanimations csstransforms csstransforms3d csstransitions"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<head>
  <title>Demo</title>
  <script type="text/javascript" src="scripts/jquery_1_8_3.js"></script>
  <script type="text/javascript" src="scripts/jquery_1_9_1.js"></script>
  <script type="text/javascript" src="scripts/slide.js"></script>
  <link rel="stylesheet" href="stylesheets/screen.css" />
    <%= stylesheet_link_tag    "styles", :media => "all" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
    <div class="container">
    <header></header>
    <div id="homemain">
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item">               
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <h3>How Many Bedrooms?</h3>
                                    <p><input type="text" class="bedbathbar" placeholder="Baths"></p>
                                </div>  
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-2"></div>
                                <div class="ch-info-back">
                                    <h3>How Many Bathrooms?</h3>
                                    <p><input type="text" class="bedbathbar" placeholder="Baths"></p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-3"></div>
                                <div class="ch-info-back">
                                    <h3>Max Rent?</h3>
                                    <p><input type="text" class="bedbathbar" placeholder="Rent"></a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <section id="contact">
                <h2>Find Your Dream Apartment</h2>
                <input type="text"></input>
                <a href="#" class="contact button">
                    <b>Start Search</b>
                </a>
                <p>...</p>
            </section>
            </div>
        </div>
        <footer></footer>
</body>
</html>