<div class='container_12'>
  <div class='grid_12'>
    <%= gmaps({
            "map_options" => { "type" => "ROADMAP", 'detect_location' => true, 'center_on_user' => true, "zoom    " => 15, "auto_adjust" => false},
            "markers" => { "data" => @markers }})%>
  </div>   
</div>

  

<%= link_to 'New Landing', new_landing_path %>
