@import 'sassybuttons';

* { margin: 0; padding: 0; outline: 0; }

body, html { height: 100%; }

a { color: #f05023; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; resize: none; }
fieldset { border: none; }

header, article, footer, aside, nav, section { display: block; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left { float: left; display: inline; }
.right { float: right; display: inline; }

.no-boxshadow .shadow { display: none; }

// .shell { width: 982px; margin: 0 auto; padding: 0 9px; }

// header.dark { background: #1a1a1a; position: relative; z-index: 10; box-shadow: 0 2px 2px rgba(0,0,0,0.9); }
// header.dark .shell { height: 110px; position: relative; }
// header.dark #logo { float: left; padding: 16px 0 0; }
// header.dark #logo.mobile a { width: 166px; }

header.light { background: #ececec; width: 100%; height: 150px; position: fixed; top: 0; left: 0; z-index: 99; box-shadow: 0 1px 40px rgba(0,0,0,0.3); }
header.light .shell { height: 75px; }
header.light nav { padding: 6px 0 0 48px; font-size: 14px; line-height: 37px; text-transform: uppercase; text-shadow: 0 1px 1px rgba(255,255,255,.9); }
header.light nav a { color: #252525; float: left; padding: 0 17px; }
header.light nav a + a { margin-left: 15px; }
header.light a:hover { text-decoration: none; }
header.light nav a.current { padding: 0 16px; border: 1px solid #d5d5d5; border-radius: 10px; background: #b2d6ec; box-shadow: 0 1px 0 #e0eff7 inset, 1px 0 0 #e0eff7 inset, -1px 0 0 #e0eff7 inset, 0 -1px 0 #e0eff7 inset; line-height: 35px; }

header.light a.trial {width: 105px; height: 72px; padding: 13px 20px 0; text-align: center; font-size: 18px; line-height: 18px; font-weight: bold; color: #d8ecb2; text-shadow: 0 1px 1px rgba(0,0,0,0.7); position: relative; margin: 0 48px -35px 20px; }
header.light a.trial:hover { color: #fff; }
header.light a.colorbox { margin: 6px 0 0; color: #252525; padding: 0 17px; font-size: 14px; line-height: 37px; text-transform: uppercase; text-shadow: 0 1px 1px rgba(255,255,255,1); }

footer.dark { background: #525252; }
footer.dark .shell { height: 59px; }
footer.dark p { font-size: 12px; line-height: 58px; text-align: center; color: #fff; }
footer.dark p a { color: #fff; text-decoration: none; }
footer.dark p a:hover { text-decoration: underline; }

footer.light { background: #ececec; position: relative; z-index: 3; padding: 0 0 24px; width: 100%; }
footer.light .shell { width: 902px; background: #b2d6ec; border: 1px solid #d5d5d5; box-shadow: 0 0 1px #e0eff7 inset; padding: 40px 72px 40px 38px; overflow: hidden; }
footer.light .cloudmanic { width: 242px; height: 50px; }
footer.light .socials { width: 160px; padding: 2px 0 0; }
footer.light .socials a { float: left; width: 41px; height: 41px; }
footer.light .socials a + a { margin-left: 18px; }
footer.light .socials .email { background-position: 0 0; }
footer.light .socials .twitter { background-position: 0 -41px; }
footer.light .socials .facebook { background-position: 0 -82px; }
footer.light .foot-nav { font-size: 12px; line-height: 50px; color: #000; text-align: center; text-indent: -30px; word-spacing: 4px; }
footer.light .foot-nav a { word-spacing: 0; color: #000; }

#wrap { overflow: hidden; min-height: 100%; height: auto !important; height: 100%; }

#intro { box-shadow: 0 0 200px rgba(0,0,0,0.9) inset; padding: 200px 0 125px; position: fixed; top: 0; left: 0; width: 100%; z-index: 1; min-height: 215px; text-align: center; }
#intro #logo a { width: 435px; height: 125px; position: absolute; top: 132px; left: 50%; margin-left: -217px; text-align: left; }
#intro h2 { font-size: 48px; color: #b7b7b7; word-spacing: 10px; text-shadow: 0 2px 2px #000; padding: 0 0 70px; }
#intro p { font-size: 16px; }
#intro .theme-big-blue-button { margin: 0 0 12px; }

#tour { margin: 715px 0 0; position: relative; width: 100%; z-index: 2; padding: 20px 0 0; box-shadow: 0 0 40px rgba(0,0,0,0.15); border-bottom: 1px solid #fff; }
#tour .top { width: 100%; height: 75px; position: absolute; top: -50px; left: 0; }
#tour .content { background: #ececec; min-height: 718px; }
#tour .shell { padding: 70px 9px 26px; }
#tour h2 { font-size: 30px; text-align: center; padding: 0 0 24px; }
#tour .slide-info h3 { font-size: 21px; padding: 0 0 4px; }
#tour p { font-size: 18px; line-height: 24px; }
#tour .slide-info { text-align: center; display: none; color: #292929; width: 982px; }



#more { background: #ececec; position: relative; z-index: 3; }
#more h2 { font-size: 30px; line-height: 30px; }
#more h4 { font-size: 18px; line-height: 24px; padding: 0 0 12px; }
#more p { font-size: 21px; line-height: 30px; }
#more ul { list-style: none; }
#more .shell { overflow: hidden; padding: 0; }
#more .entry { width: 650px; padding: 105px 9px 55px 0; text-align: center; border-right: 1px solid #fff; box-shadow: 0 0 10px rgba(0,0,0,0.3); }
#more .entry ul { width: 600px; overflow: hidden; }
#more .entry li { float: left; margin: 40px 0 0 108px; }
#more .entry li:last-child { margin-top: 28px; }
#more .sidebar { width: 312px; padding: 105px 0 20px; text-align: center; }
#more .sidebar header p { display: inline-block; padding: 0 0 24px; border-bottom: 2px solid #d1d1d1; }
#more .sidebar .items li { padding: 24px 0 0; }
#more .sidebar .items p { font-size: 14px; line-height: 24px; }

#page-head { border-bottom: 2px solid #ebebeb; box-shadow: 0 0 30px rgba(0,0,0,0.5); position: relative; z-index: 5; }
#page-head h1 { font-size: 41px; line-height: 48px; padding: 0 0 12px; }
#page-head p { font-size: 18px; line-height: 24px; color: #fff; padding: 0 0 18px; }
#page-head .shell { overflow: hidden; }

#page-head .image { padding-top: 22px; }
#page-head .image img { display: block; }

#page-head .text { width: 462px; padding: 50px 20px 0 0; }

#page-head .video { width: 462px; padding: 46px 20px 0 0; }
#page-head .video h2 { font-size: 24px; line-height: 30px; color: #fff; padding: 0 0 24px; }
#page-head .video-box { width: 320px; margin: 0 0 34px 50px; text-align: center; }
#page-head .vid-link { color: #b2d6ec; font-size: 12px; }
#page-head .vid-link .preview { display: block; margin: 0 0 8px; width: 320px; position: relative; }
#page-head .vid-link .overlay { width: 100%; height: 100%; position: absolute; top: 0; left: 0; box-shadow: 0 0 30px rgba(0,0,0,.3) inset; }
#page-head .vid-link img { display: block; }

#page-head .big-light-button { background: #fefefe; background: -moz-linear-gradient(top, #fefefe 0%, #a7a7a7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#a7a7a7)); background: -webkit-linear-gradient(top, #fefefe 0%,#a7a7a7 100%); background: -o-linear-gradient(top, #fefefe 0%,#a7a7a7 100%); background: -ms-linear-gradient(top, #fefefe 0%,#a7a7a7 100%); background: linear-gradient(top, #fefefe 0%,#a7a7a7 100%); border-radius: 3px; box-shadow: 0 3px 3px rgba(0,0,0,1); display: inline-block; margin-right: 15px; width: 202px; color: #555; text-shadow: 0 1px 0 #fff; }
#page-head .big-light-button:hover { background: #dfdfdf; background: -moz-linear-gradient(top, #fefefe 0%, #8a8a8a 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#8a8a8a)); background: -webkit-linear-gradient(top, #fefefe 0%,#8a8a8a 100%); background: -o-linear-gradient(top, #fefefe 0%,#8a8a8a 100%); background: -ms-linear-gradient(top, #fefefe 0%,#8a8a8a 100%); background: linear-gradient(top, #fefefe 0%,#8a8a8a 100%); text-decoration: none; }
#page-head .big-light-button .ico-apple,
#page-head .big-light-button .ico-android { float: left; height: 86px; }
#page-head .big-light-button .ico-apple { padding-left: 82px; }
#page-head .big-light-button:hover .ico-apple { background-position: 18px -86px; }
#page-head .big-light-button .ico-android { padding-left: 78px; }
#page-head .big-light-button:hover .ico-android { background-position: 18px -86px; }
#page-head .big-light-button .small { font-size: 18px; line-height: 24px; display: block; padding: 13px 0 0; }
#page-head .big-light-button .large { font-size: 30px; line-height: 30px; display: block; }

#main { background: #ececec }
#main .shell { padding: 28px 0; }

	
.btn-search {
	@include sassy-button("matte", 5px, 19px, #cede85, #a7bf35, #fff, "inset");
	font-size: 18px;
	height: 45px;
	margin-top: 5px;
}


  .ch-grid {
    margin: -50px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	-webkit-perspective: 900px;
	-moz-perspective: 900px;
	-o-perspective: 900px;
	-ms-perspective: 900px;
	perspective: 900px;
}
.ch-info{
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.ch-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	transition: all 0.4s linear;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.ch-info .ch-info-front {
	box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);
}

.ch-info .ch-info-back {
	-webkit-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-moz-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-o-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	-ms-transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
	background: #000;
	opacity: 0;
}

.ch-img-1 { 
	background-image: url(/assets/orangebed.jpeg);
}

.ch-img-2 { 
	background-image: url(/assets/2.jpeg);
}

.ch-img-3 { 
	background-image: url(/assets/3.jpg);
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 24px;
	margin: 0 15px;
	padding: 60px 0 0 0;
	height: 60px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover .ch-info-front {
	-webkit-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-moz-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-o-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	-ms-transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
	opacity: 0;
}

.ch-item:hover .ch-info-back {
	-webkit-transform: rotate3d(1,0,0,0deg);
	-moz-transform: rotate3d(1,0,0,0deg);
	-o-transform: rotate3d(1,0,0,0deg);
	-ms-transform: rotate3d(1,0,0,0deg);
	transform: rotate3d(1,0,0,0deg);
	opacity: 1;
}


/* HEADER SIGNIN SIGNUP CSS*/

/******* /TinCanAPI WordPress CSS *******/

a { color: #f05023; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

h2 { font-size:24px; text-shadow: 0 1px 1px rgba(255,255,255,.3); -webkit-font-smoothing: antialiased; font-smoothing: antialiased; font-weight: normal; font-family: 'HelveticaLight', Helvetica, Arial, sans-serif; line-height:24px; }
h3,h4 { font-size:18px; font-family: 'HelveticaBold', Helvetica, Arial, sans-serif; font-weight:normal; line-height:22px;   }
h4 { font-size:17px;  }

input, textarea, select { font-size: 14px; font-family: 'HelveticaLight', Helvetica, Arial, sans-serif; }
textarea { overflow: auto; }

ul, ol { list-style:none outside none }

strong { font-family: 'HelveticaBold', Helvetica, Arial, sans-serif; font-weight:normal;  }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }
p.clear-both { clear: both; }

.shell { width:1000px; margin:0 auto; position:relative;  }

#header,
#footer{ background:url(section-divider.png) no-repeat center bottom; }
#footer { background-position:center 0; }
#header { padding:13px 0 16px; position:relative; width:100%; z-index: 10; }

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 100%;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

#contact-dd { position:absolute; right:0; top:39px; width: 446px; background-color:#3e3d3c; border:1px solid #555; border-radius:4px; padding:29px 29px 5px; display:none;  }
#contact-dd a.close { width:33px; height:32px; background:url(../assets//close.png); position:absolute; right:20px; top:20px;    }
#contact-dd a.close:hover {  background-position:0 bottom; }
#contact-dd p { font-size:16px; line-height:19px; color:#a6a6a6; }
#contact-dd .form { padding-bottom:17px;  }
#contact-dd .field { font-size:16px; color:#a6a6a6; display:block; background:#2f2c2b; border:1px solid #555; border-radius:5px; padding:9px 12px 10px; height:20px; width:290px; margin-bottom:18px;  }
#contact-dd .field.focused { border-color:#4e6673; border-width:2px; padding:8px 11px 9px;  }
#contact-dd .field-contact { display: inline-block; width: 0; height: 0; visibility: hidden; }
#contact-dd textarea.field { width:420px; height:178px;   }
#contact-dd .submit { height:37px; color:#fff; background:#f05023; border-radius:3px; display:block; width:111px; margin-left:auto; font-size:16px;  font-family: 'HelveticaBold', Helvetica, Arial, sans-serif; border:0; cursor:pointer; padding-bottom:3px;  }
#contact-dd .submit:hover { background-color:#2f2c2b;  }
#contact-dd .bottom { border-top:1px solid #4e6673;  padding-top:12px;  }
#contact-dd .bottom p { text-align:center;  }
#contact-dd .bottom p.phone {  font-family: 'HelveticaBold', Helvetica, Arial, sans-serif; font-size:30px; line-height:40px;  }
#contact-dd .success { width:290px; padding:0 12px 16px; display:none;  }

#navigation { width:100%; position:relative; z-index: 9; }
#navigation .shell { height:40px;  }
#navigation li {  width:250px; text-align:center; font-size:16px; float:left;  }
#navigation li a { display:block;  }
#navigation li a:hover { text-decoration:none;  }

#main-nav {background:url(../assets/section-divider.png) no-repeat center bottom; height:40px;  }
#main-nav .shell {  background:url(../assets/nav-shadow.png) no-repeat center bottom; padding-bottom:26px; margin-bottom:-26px;  height:40px;   }
#main-nav li {line-height:39px; height:39px; }
#main-nav li a { color:#f05023;  }
#main-nav li.current-menu-item a,
#main-nav li.current-page-parent a,
#main-nav li.current-page-ancestor a,
#main-nav li a:hover { background-color: #3D3A39; text-shadow: 0px 0px 0px #3D3A39; }
#main-nav li.current-menu-item a,
#main-nav li.current-page-parent a,
#main-nav li.current-page-ancestor a { font-family: 'HelveticaBold', Helvetica, Arial, sans-serif; }

#navigation.type2 { margin-bottom:63px; }

// #sub-nav { position:absolute; top:47px; padding-top:10px;  left:0; width:100%; height:42px;  background:url(images/nav-shadow.png) no-repeat center bottom; padding-bottom:26px;  }
// #sub-nav .shell { border:1px solid #b3b3b3; height:40px; border-radius:4px; background-color:#fff;  }
// #sub-nav .shell>ul>li { height:40px; line-height:40px; position:relative;   }
// #sub-nav .shell>ul>li>a { position:relative; z-index: 2; height:40px;  }
// #sub-nav .shell>ul>li>a em { display:inline-block; vertical-align:middle; background:url(images/subnav-tr.png); width:16px; height:16px; margin-left:8px; margin-top:-2px; display:none; }
// #sub-nav .shell>ul>li.current-menu-item>a,
// #sub-nav .shell>ul>li.current-page-parent>a,
// #sub-nav .shell>ul>li.current-menu-parent>a,
// #sub-nav .shell>ul>li.current-menu-ancestor>a,
// #sub-nav .shell>ul>li>a:hover { background-color:#c2c2c2; text-shadow: 0px 0px 0px #c2c2c2;}
// #sub-nav .shell>ul>li.current-menu-item>a,
// #sub-nav .shell>ul>li.current-menu-ancestor>a,
// #sub-nav ul ul li.current-menu-item > a { font-family: 'HelveticaBold', Helvetica, Arial, sans-serif; }
// #sub-nav .shell>ul>li.has-children>a em { display:inline-block;  }
// #sub-nav li ul { border:1px solid #b3b3b3; border-top:0;  border-radius:0 0 4px 4px; background-color:#fff; position:absolute; top:39px; left:-1px; z-index: 1; width:170px; padding:0 40px; display:none;   }
// #sub-nav li ul { box-shadow:3px 3px 3px rgba(0,0,0,0.3) }
// #sub-nav li ul li { float:none; border-top:1px solid #b3b3b3; width:100%;  }
// #sub-nav li ul li a:hover { text-decoration:underline;  }

// #sub-nav.fixed { position:fixed; left:0;  top:0; background-image: url(images/nav-shadow.png), -webkit-gradient( linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)), color-stop(.5,white) ); background-image: url(images/nav-shadow.png), -moz-linear-gradient( rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100% );}

// #main { padding:34px 0 30px; width:100%; position:relative; z-index: 1; overflow: hidden; }

// #hero-container { padding-bottom:30px; margin-top:-10px; background:url(images/inner-divider.png) no-repeat center bottom;   }

// #adopters { background:url(images/inner-divider.png) no-repeat center bottom; padding:25px 25px 30px;  }
// #adopters h2 { text-align:center; padding: 22px 0 42px; }
// #adopters h2 a { color: #000; }
// #adopters .slider { position:relative; width:950px; height: 115px; overflow: hidden; }
// #adopters .slider .caroufredsel_wrapper { z-index: 1; width:950px!important; }
// #adopters .slider li { display: block; float:left; height:115px; background:url(images/adopter-shadow.png) no-repeat center bottom; padding:0 25px;   }
// #adopters .slider ul a { float:left;  }
// #adopters .slider .nav { position:absolute; left:0; top:0;  z-index: 2;  width:100%;  }
// #adopters .slider .nav a { position:absolute; left:0; top:35px; height:43px; width:25px; background:url(images/adopters-nav.png) no-repeat 0 0;  }
// #adopters .slider .nav a.next { left:auto; right:0; background-position:right 0;  }

// .col-section { padding-top:50px; padding-bottom:30px;  }
// .whitebox { background-color:#fff; border:1px solid #b7b7b7; border-radius:3px; width:400px; padding:35px 34px 0;  position:relative;  }
// .whitebox .bshadow { position:absolute; width:37px; height:190px; background:url(images/bshadow.png);  }
// .whitebox .bshadow.tl { background-position:0 0; top:0; left:-38px; }
// .whitebox .bshadow.tr { background-position:right 0; top:0; right:-38px;  }
// .whitebox .bshadow.br { background-position:right bottom; bottom:0; right:-38px;  }
// .whitebox .bshadow.bl { background-position:0 bottom; bottom:0; left:-38px;  }
// .whitebox h2 { padding-bottom:24px; }
// .whitebox .header a { font-size:16px;  }

// .bpost { padding-bottom:23px; }
// .bpost .head { padding-bottom:3px;  }
// .bpost .head h3 { padding-bottom:5px;  }
// .bpost .head .avatar { float:left; margin-right:17px; border-right:3px;  }
// .bpost .head p.posted-info { font-size:12px; line-height:16px;  }
// .bpost .body p{ font-size:14px; line-height:17px;  }

 

// #footer { padding-top:30px;  }
// #footer .cols-wrap {float:left;   }
// h1#footer-logo { padding: 2px 87px 0 30px;  }

// #footer .cols-wrap > ul > li { float:left; display:inline; float:left; padding-bottom:65px; margin-left: 30px; }
// #footer .cols-wrap > ul > li > a { font-weight: normal; font-size: 17px; font-family: 'HelveticaBold', Helvetica, Arial, sans-serif; }
// #footer .cols-wrap > ul > li:first-child { margin-left: 0; }
// #footer .cols-wrap > ul > li ul {  font-size:17px;  line-height:20px; }

// .copy { font-size:10px; color:#828282; text-align:center; line-height:27px; }
// .copy a { color: #828282; }

// .article { padding-left: 24px; overflow: hidden; }
// .article .separator { height: 1px; background: url(images/inner-divider.png) center bottom; margin-bottom: 29px; clear: both; }
// .article.no-divider,
// .article.last { background: transparent; margin:0 0 10px; }
// .article h2 { padding-bottom:22px; }

// .article p { padding-bottom:23px;  }
// .article ul { list-style:disc outside none; padding: 0 0 23px 48px; }
// .article .three-cols-section { margin-left:-24px;  }
// .article .three-cols-section .box h2 { padding:0;  }

// .article.type2 { padding-left:0; margin-bottom:40px; }
// .article.type2 h2 { padding-bottom:0; }
// .article.type2 ul { padding-left:56px;  }
// .article.type2 .actionbox { padding-top:18px; margin-bottom:30px;  }
// .article.type2 .actionbox h2 { padding: 0 20px 16px; line-height:29px;  }
// .article.type2 h2+ul { padding-top:22px;  }

// .actionbox { background:url(images/actionbox.png) no-repeat center bottom; padding-bottom:45px; }
// .actionbox .box-i { width:460px; padding:25px 0 12px; text-align:center; border:1px solid #b7b7b7; margin:0 auto; border-radius:3px; }
// .actionbox h2 { color:#f05023; padding: 0 20px 16px; line-height:29px; }
// .actionbox .blue-button { float:none; width:111px; display:block; margin:0 auto; padding:0; text-align:center; }

// .actionbox.half { width:488px; float:left; }
// .actionbox.right { float: right; }
// .actionbox.spaced { margin-bottom:34px; }

// .article .adopters-list { width:1000px; padding:0; left:0!important;   }
// .adopter-logo { float:left; width:244px;  margin-bottom: 25px; text-align:center; background:url(images/adlist-shadow.png) no-repeat center 150px; }
// .adopter-logo.right { float:right; }
// .adopter-logo a.logo { height:240px;  }
// .adopter-logo a:hover { opacity: 0.8; -moz-opacity: 0.8; filter:alpha(opacity=80); }

// .adopter-container { overflow:visible; padding-left:0;  position:relative; width:100%;  }
// .adopter-container ul { padding-left:0!important; padding:0; width:1000px; }

// .adopter-container .adopters-list { list-style:none outside none; padding:0; width:1000px; overflow: hidden; }
// .adopter-container .adopters-list>li { float:left; width:250px;  margin-bottom: 25px; text-align:center; background:url(images/adlist-shadow.png) no-repeat center 150px; }
// .adopter-container .adopters-list>li.cl { width:100%; float:none;   }
// .adopter-container .adopters-list>li a.logo { height:210px; display:block;  }
// .adopter-container .adopters-list>li a.logo:hover {  opacity: 0.8; -moz-opacity: 0.8; filter:alpha(opacity=80); }
// .adopter-container .adopters-list .details { width:1200px; background:url(images/details-t.png) no-repeat 0 0; display:none; position:relative;  }
// .adopter-container .adopters-list .details-i { background:url(images/details-b.png) no-repeat 0 bottom; padding:50px 150px; text-align:left; } 
// .adopter-container .adopters-list .adopter-sub { padding-top: 90px; background: url(images/adopter-sub-devider.png) center 30px no-repeat; }
// .adopter-container .adopters-list .adopter-sub:first-child { padding-top: 0; background: none; }
// .adopter-container .adopters-list .adopter-sub .sub-logo { float: left; width: 302px; height: 226px; margin-right: 60px; }
// .adopter-container .adopters-list .adopter-content { overflow: hidden; }
// .adopter-container .adopters-list li[rel="1"] .details { margin:0  -850px 0 -100px;  }
// .adopter-container .adopters-list li[rel="2"] .details { margin:0 -600px 0 -350px;  }
// .adopter-container .adopters-list li[rel="3"] .details { margin:0 -350px 0 -600px;  }
// .adopter-container .adopters-list li[rel="4"] .details { margin:0 -100px 0 -850px;  }
// .adopter-container .adopters-list li.cl { margin:0;  }
// .adopter-container .adopters-list .details .logo-big {  float:left; width:302px; height:236px; border:2px solid #3d3a39; border-radius:2px; margin-left:-360px;  }
// .adopter-container .adopters-list .details p { line-height:21px;  }
// .adopter-container .adopters-list .details .buttons { height:37px; padding: 8px 0 0 77px;   }
// .adopter-container .adopters-list .details .buttons a.blue-button { float:left; margin-right:24px; font-family: 'HelveticaLight'; }
// .adopter-container .adopters-list .details .arrow { position:absolute; left:100px; top:-16px; width:43px; height:16px; background:url(images/details-arrow.png); display:none;  }

// .article .adopter-logo { background-position: center bottom; height: 135px; padding-bottom: 30px; }

// .article-logo { width:300px; text-align:center; padding-bottom:20px; margin-top:-46px; }

// .image-section-image.left { margin-right: 30px; }
// .image-section-image.right { margin-left: 30px; }

// .actionbox.third { position:relative; width: 293px; margin:0 20px; float:left; background: none; padding-bottom: 0; margin-bottom: 24px; }
// .actionbox.third.first { margin-left: -4px; }
// .actionbox.third .box-i { background:#fff; position:relative; width:291px; z-index: 2; border-radius:3px; border:1px solid #b7b7b7; padding:15px 0; text-align: left; }
// .actionbox.third .bshadow { background:url(images/tcol-box-shadow.png); position:absolute; bottom:-15px; right:-14px; width:271px; height:170px; z-index: 2;  }
// .actionbox.third h2 { color:#f05023; text-align:center; padding: 0; }
// .actionbox.third a.blue-button { display:block; width:111px; margin: 20px auto 0; float:none; padding:0; text-align:center; }
// .actionbox.third ul { list-style:disc outside none; padding: 0 20px 10px 54px; }

// .three-block-section { padding:7px 113px 35px; }
// .three-block-section .block { width:200px; padding:0 25px;  float:left; }
// .three-block-section .block h2 { text-align:center; line-height:29px; padding-bottom:12px; }
// .three-block-section .block h2.short { padding-top:29px; }
// .three-block-section .block a.blue-button { display:block; width:111px; margin:0 auto; float:none; padding:0; text-align:center; }

// ul.resource-list { font-size:24px; line-height:29px; list-style:none outside none; padding:13px 0 50px 56px;  }

// .blogpost .head { padding-bottom:20px;  }
// .blogpost .head img.avatar { float:left; margin-right:48px; margin-bottom: 5px; box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.4); }
// .blogpost .head h2 { padding-bottom:18px;  }
// .blogpost .head p { font-size:14px; line-height:17px;  }
// .blogpost .body { background:url(images/inner-divider.png) no-repeat center bottom; padding-bottom:20px;  }
// .blogpost .body p { padding-bottom:22px;  }
// .blogpost .body ul { list-style-type: disc;
// 	list-style-image: none;
// 	list-style-position: outside;  
// 	padding-left: 50px;
// 	padding-top: 0px;
// 	padding-bottom: 20px;
// }
// .blogpost .bottom { padding:20px 0 0;  }
// .blogpost .bottom a.comments-link,
// .blogpost .bottom a.more-link { float:left; margin-right:48px; }
// .blogpost .bottom .addthis_toolbox  { display:inline; padding-left:29px; float:left;  }
// .blogpost .bottom .addthis_button_compact>span { position:relative; top:3px;   }
// .blogpost .comments { padding-top:20px;  }
// .blogpost+.blogpost{ padding-top:51px; }

// .blogpost.small { padding-bottom:51px; background:url(images/inner-divider.png) no-repeat center bottom;  }
// .blogpost.small .body { background: transparent; padding-bottom:8px;   }
// .blogpost.small .bottom { padding:0;  }
// .blogpost.small .bottom .addthis_toolbox { padding-left:0; }
// .addthis_toolbox a { background: url(images/addthis-icon.png) left center no-repeat; padding-left: 18px; }
// .blogpost.small.last { background: transparent; padding-bottom:30px;  }

// .blognav { text-align:center; font-size:24px; line-height:29px; padding:30px 0;   }
// .blognav a { margin:0 20px;  }

// .subscribe { max-width: 624px; padding-bottom:30px;  }
// .subscribe .field-holder { float:left;  }
// .subscribe .submit { margin-top:10px;  }

// .shell .field,
// #colorbox .field { font-size:24px; color:#bababa; background-color:#fff; border:2px solid #7f7f7f; border-radius:5px; box-shadow:inset 0 0 5px rgba(0,0,0,0.4); padding:13px 25px 14px; height:30px; width:362px; }
// .shell .field.focused,
// #colorbox .field.focused { color:#000; border-color:#000 }
// .shell textarea.field,
// #colorbox textarea.field { width:850px; height:290px; }

// .archive {}
// .archive .head { padding-bottom:33px;  }
// .archive .head h2 { line-height:29px;  }
// .archive .list p { padding-bottom:44px;  }
// .archive .list .display_archive  { font-size: 18px; font-family: 'HelveticaLight', Helvetica, Arial, sans-serif; }
// .archive .list .display_archive .campaign { line-height:21px; margin:0; padding-bottom:44px;  }

// .archive-nav { width:300px; text-align:center;  font-size:24px; line-height:29px; padding-bottom:20px;  }
// .archive-nav a { margin:0 20px;  }

// .archive.type2 {}
// .archive.type2 .head a.blue-button { float:left; margin:15px 0 0 61px; }
// .archive.type2 .list .campaign,
// .archive.type2 .list p { padding-bottom:22px;  }

// .twitter-feed { padding-top:30px;  }
// .twitter-feed .col { float:left; width:384px; padding:0 58px; }
// .twitter-feed .col .head { padding-bottom:13px;  }
// .twitter-feed .col .head h3 { font-family: 'HelveticaRegular', Helvetica, Arial, sans-serif; }
// .twitter-username { font-weight: bold; }

// .tw-item { padding-bottom:10px; overflow: hidden; clear: left; }
// .tw-item .thumb { width:49px; height:49px; background:url(images/tw-logo-bg.png);  padding:9px; float:left; }
// .tw-item .box { margin-left:82px; border:1px solid #e0e0e0; border-radius:5px; background-color:#fff; position:relative; padding:9px; font-size:12px; line-height:18px; font-family:Georgia, serif; color:#6c6c6c;  }
// .tw-item .box .arrow { position:absolute; background:url(images/tw-box-arrow.png); width:13px; height:12px; font-size: 0; line-height: 0; text-indent: -4000px; left:-13px; top:17px;    }
// .tw-item .box .time-posted { font-size:10px; color:#010101; font-family:Arial, serif; border-bottom: 1px dotted #000; }
// .tw-item .box .time-posted:hover,
// .tw-item .box .time-posted:focus { border-bottom: none; text-decoration: none; }
// a.follow-btn { float:right; font-size:10px; line-height:24px; padding-left:19px; background:url(images/follow-btn.png) no-repeat 0 center; font-weight:bold;  }

// .contact { padding-top:8px; }
// .contact .head { padding-bottom:33px;  }
// .contact .head h2 { padding-bottom:15px; font-family: 'HelveticaRegular', Helvetica, Arial, sans-serif;}
// .contact .info { padding-bottom:12px;  }
// .contact .info p { font-size:24px; line-height:29px; padding-bottom:29px;  }
// .contact .form { width:904px;  }
// .contact .field { display:block; margin-bottom:30px;  }
// .contact .field-contact { display: inline-block; width: 0; height: 0; visibility: hidden; }
// .contact .submit { width:112px; padding:0;   }
// .contact .success { padding:0 200px;    }
// .contact .success h2 { line-height:29px; padding-bottom:24px;  }
// .contact .success h2.centered { text-align:center;  }

// #subscribe-popup { width:416px;  }
// #subscribe-popup label,
// #subscribe-popup .indicates-required { display:none; }
// #subscribe-popup h2 { padding-bottom:28px;  }
// #subscribe-popup .mc-field-group { padding-bottom:19px;  }
// #subscribe-popup .footer { padding-top:10px;  }
// #subscribe-popup .form-success { display:none;  }
// #subscribe-popup .form-success h2 { padding-bottom:54px;  }
// #subscribe-popup .form-success p { padding-bottom:22px;  }
// #subscribe-popup .form-success a.blue-button { float:none; display:block; width:170px; margin:40px auto; padding:0;  text-align:center;  }

// .comments ol.commentlist { list-style: none; margin: 10px 0 5px 0; padding: 0; }
// .comments ol.commentlist ul { list-style: none; margin: 10px 0 5px 0; padding: 0; list-style: none; }
// .comments ol.commentlist li { padding-left: 54px; background: none; }
// .comments ol.commentlist div.vcard { font: bold 14px Verdana; line-height: 20px; }
// .comments ol.commentlist div.vcard img { float: left; margin: 4px 6px 0 -54px; }
// .comments ol.commentlist div.commentmetadata { margin-bottom: 8px; }
// .comments ol.commentlist p { clear: both; padding: 5px 0 5px 0; margin: 0}
// .comments ol.commentlist div.reply { margin: 4px 0 16px; }

// .comments #respond { margin: 20px 0 5px 0;}
// .comments #respond #commentform label { width: 220px; margin: 4px 0; text-align: left; }
// .comments #respond #commentform input { width: 235px; margin: 3px 0; display: block; }
// .comments #respond #commentform textarea { width: 450px; display: block; padding: 3px; }
// .comments #respond #commentform .form-allowed-tags { margin: 10px 0; }
// .comments #respond #commentform input#submit { display: block; width: auto; }
// .comments div.comment-reply { margin-bottom: 15px; font-weight: bold; }

// #adopter-filters { margin: 0 40px 0 -40px; width:1080px; }
// #adopter-filters ul { text-align:center; padding:0; width:1080px; list-style:none outside none; }
// #adopter-filters li { display:inline-block; padding-bottom:15px; width:212px;  *display:inline; *padding:0 20px; }
// #adopter-filters li a { padding:0 10px;  height:31px; line-height:31px; display:inline-block; border:2px solid #3d3a39; border-radius:2px; min-width:126px; text-align:center; text-shadow:none;  *margin-bottom:15px;  }
// #adopter-filters li a:hover,
// #adopter-filters li.active a { text-decoration:none; background-color:#3f3a39;  }
// #adopter-filters li.active a { font-family: 'HelveticaBold';  }
// #adopter-filters li.all {width:1000px;   }

// .errors { margin: 0 0 20px; font-weight: bold; list-style-type: disc}
// .errors li { margin: 0 0 0 40px; font-weight: normal; list-style-type: disc}

// .gc-search { margin: 0 auto; width: 333px; overflow: hidden; padding-top:20px; }
// .gc-search input.search { float: left; font-size: 15px; line-height: 15px; color: #BABABA; background-color: #FFF; border: 2px solid #7F7F7F; border-radius: 3px; box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4); padding: 10px 15px; height: 18px; width: 206px; }
// .gc-search input.button { float: right; margin-top: 3px; border: 0px; width: 75px; none; font-weight: normal; cursor: pointer; border-radius: 3px; height: 37px; -webkit-appearance: none; }

// .mobile-only { display:none; }

// a.anchor {
//   display: block; 
//   position: relative;
//   top: -60px;
// }

// #disqus_thread { width: 75% !important; }

// #colorbox #cboxTopLeft,
// #colorbox #cboxTopCenter,
// #colorbox #cboxTopRight,
// #colorbox #cboxMiddleLeft,
// #colorbox #cboxMiddleRight,
// #colorbox #cboxBottomLeft,
// #colorbox #cboxBottomCenter,
// #colorbox #cboxBottomRight { display: none; }

// #colorbox #cboxContent {
// 	padding: 15px; border: 10px solid #C0C0C0; border: 10px solid rgba(0, 0, 0, 0.25);
// 	-webkit-background-clip: padding-box; background-clip: padding-box;
// 	-webkit-border-radius: 9px; -moz-border-radius: 9px; -ms-border-radius: 9px; -o-border-radius: 9px; border-radius: 9px;
// 	-webkit-box-shadow: inset 0 0 0 2px #FFF; -moz-box-shadow: inset 0 0 0 2px #FFF; -ms-box-shadow: inset 0 0 0 2px #FFF; -o-box-shadow: inset 0 0 0 2px #FFF; box-shadow: inset 0 0 0 2px #FFF;
// }
// #colorbox #cboxClose { top: 15px; right: 15px; }

// @media only screen and (max-width: 767px) {
// 	@import url('mobile.css');
// }