@import "mixins";
@import "sassybuttons";

* { margin: 0; padding: 0; outline: 0; }

body, html { 
	height: 100%; 
}

a { 
	color: #f05023; 
	text-decoration: none; 
	cursor: pointer; 
}

a:hover { 
	text-decoration: underline; 
}
a img { 
	border: 0; 
}

input, textarea, select { 
	font-size: 12px; 
	font-family: arial, sans-serif; 
}
textarea { 
	overflow: auto; 
	resize: none; 
}
fieldset { 
	border: none; 
}

header, article, footer, aside, nav, section { 
	display: block; 
}

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left { float: left; display: inline; }
.right { float: right; display: inline; }
.no-boxshadow .shadow { display: none; }

#wrap { overflow: hidden; min-height: 100%; height: auto !important; height: 100%; }

#intro { 
	box-shadow: 0 0 200px rgba(0,0,0,0.9) inset; 
	padding: 200px 0 125px; 
	position: fixed; top: 0; 
	left: 0; 
	width: 100%; 
	z-index: 1; 
	min-height: 215px; 
	text-align: center; 
}
#intro #logo a { 
	width: 435px; 
	height: 125px; 
	position: absolute; 
	top: 132px; 
	left: 50%; 
	margin-left: -217px; 
	text-align: left; 
}
#intro h2 { 
	font-size: 32px; 
	color: #b7b7b7; 
	word-spacing: 1px; 
	text-shadow: 0 2px 2px #000; 
	padding: 0 0 70px; 
}
#intro p { 
	font-size: 16px; 
}
#intro .theme-big-blue-button { 
	margin: 0 0 12px; 
}

#tour { 
	margin: 715px 0 0; 
	position: relative; 
	width: 100%; 
	z-index: 2; 
	padding: 20px 0 0; 
	box-shadow: 0 0 40px rgba(0,0,0,0.15); 
	border-bottom: 1px solid #fff; 
}
#tour .top { 
	background: url(home-welcome.png) 50% 0 repeat-x; 
	width: 100%; 
	height: 75px; 
	position: absolute; 
	top: -50px; 
	left: 0; 
}
#tour .content { 
	background: #ececec; 
	min-height: 718px; 
}
#tour .shell { 
	padding: 0px 9px 26px; 
}
#tour h2 { 
	font-size: 30px; 
	text-align: center; 
	padding: 0 0 24px; 
}
#tour .slide-info h3 { 
	font-size: 21px; 
	padding: 0 0 4px; 
}
#tour p { 
	font-size: 18px; 
	line-height: 24px; 
}
#tour .slide-info { 
	text-align: center; 
	display: none; 
	color: #292929; 
	width: 982px; 
}

#headfoot {
	margin-top: 40px;
	background: url(../assets/section-divider.png) no-repeat center bottom; 
	height:40px;  
}

.skyline{
	background-image: url(/assets/chisky.jpg);
	width: 200px;
	height: 120px;
	background-size: cover;
	opacity: .1;
	position: absolute;
	bottom: 60px;
	left: 5px;
	z-index: 1;
}

a { 
	color: #f05023; 
	text-decoration: none; 
	cursor: pointer; 
}
a:hover { 
	text-decoration: underline; 
}
a img { 
	border: 0; 
}

h2 { 
	font-size:24px; 
	text-shadow: 0 1px 1px rgba(255,255,255,.3); 
	-webkit-font-smoothing: antialiased; 
	font-smoothing: antialiased; 
	font-weight: normal; 
	font-family: 'HelveticaLight', Helvetica, Arial, sans-serif; 
	line-height:24px; 
}

h3,h4 { 
	font-size:18px; 
	font-family: 'HelveticaBold', 
	Helvetica, Arial, sans-serif; 
	font-weight:normal; 
	line-height:22px;   
}
h4 { font-size:17px;  
}

input, textarea, select { 
	font-size: 12px; 
	font-family: 'HelveticaLight', Helvetica, Arial, sans-serif; 
}
textarea { 
	overflow: auto; 
}

ul, ol { 
	list-style:none outside none 
}

strong { 
	font-family: 'HelveticaBold', Helvetica, Arial, sans-serif; 
	font-weight:normal;  
}

.cl { 
	display: block; 
	height: 0; 
	font-size: 0; 
	line-height: 0; 
	text-indent: -4000px; 
	clear: both; 
}
.notext { 
	font-size: 0; 
	line-height: 0; 
	text-indent: -4000px; 
}
.left, .alignleft { 
	float: left; 
	display: inline; 
}

.right, .alignright { 
	float: right; 
	display: inline; 
}
p.clear-both { 
	clear: both; 
}

.shell { 
	width:1000px; 
	margin:0 auto; 
	position:relative;  
}

blockquote {
font-family: Georgia, serif;
font-size: 18px;
font-style: italic;
width: 100%;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}

blockquote:before {
display: block;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #7a7a7a;
}

blockquote cite {
color: #999999;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}

