@import "base";

/* Font Stuff */
@font-face {
    font-family: 'ApexNewMedium';
    src: url('fonts/apexnew-medium-webfont.eot');
    src: url('fonts/apexnew-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/apexnew-medium-webfont.woff') format('woff'),
         url('fonts/apexnew-medium-webfont.svg#ApexNewMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApexNewBook';
    src: url('fonts/apexnew-book-webfont.eot');
    src: url('fonts/apexnew-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/apexnew-book-webfont.woff') format('woff'),
         url('fonts/apexnew-book-webfont.svg#ApexNewBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NoteworthyLight';
    src: url('fonts/noteworthy-light-webfont.eot');
    src: url('fonts/noteworthy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/noteworthy-light-webfont.woff') format('woff'),
         url('fonts/noteworthy-light-webfont.svg#NoteworthyLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { padding: 0; margin: 0; outline: 0; }

.theme-shell { width: 960px; margin: 0 auto; }

.theme-apex { font-family: 'ApexNewMedium'; font-weight: normal; }
.theme-apexb { font-family: 'ApexNewBook'; font-weight: normal; font-size: 20px; }
.theme-lucida { font-family: 'Lucida Sans', 'Lucida Grande', arial, sans-serif; }
.theme-noteworthy { font-family: 'NoteworthyLight'; font-weight: normal; }

.theme-body { background: url(theme/body.gif); }

/* Random */

.find-popup { text-align: center; width: 340px; padding: 20px 24px; }
.find-popup h2 { font-weight: normal; font-size: 25px; padding: 0 0 18px; }
.find-popup p { font-size: 17px; line-height: 26px; padding: 0 20px 26px; }
.find-popup p.small { padding: 0 30px; font-size: 13px; line-height: 22px; }
.find-popup form { padding: 30px 0 0; }
.find-popup .field { margin: 0 auto 12px; color: #666; }
.find-popup .grey-button { margin-bottom: 8px; }

#theme-colorbox .cancel { color: #af5448; text-decoration: underline; }
#theme-colorbox .cancel:hover { text-decoration: none; }

.left { float: left; display: inline; }
.right { float: right; display: inline; }
.cl { clear: both; font-size: 0; line-height: 0; text-indent: -9999px; }


/* Floats & Clear */
.theme-left { float: left; }
.theme-right { float: right; }
.theme-cl { display: block; height: 0; font-size: 0; line-height: 0;
						text-indent: -4000px; clear: both; }

/* Displays */
.theme-hidden { display: none; }
.theme-block { display: block; }
.theme-inline { display: inline; }
.theme-inline-block { display: inline-block; }

/* Margins */
.theme-margin-5 { margin: 5px; }
.theme-margin-10 { margin: 10px; }
.theme-margin-15 { margin: 15px; }
.theme-margin-20 { margin: 20px; }
.theme-margin-25 { margin: 25px; }
.theme-margin-30 { margin: 30px; }
.theme-margin-top-5 { margin-top: 5px; }
.theme-margin-top-10 { margin-top: 10px; }
.theme-margin-top-15 { margin-top: 15px; }
.theme-margin-top-20 { margin-top: 20px; }
.theme-margin-top-25 { margin-top: 25px; }
.theme-margin-top-30 { margin-top: 30px; }
.theme-margin-bottom-5 { margin-bottom: 5px; }
.theme-margin-bottom-10 { margin-bottom: 10px; }
.theme-margin-bottom-15 { margin-bottom: 15px; }
.theme-margin-bottom-20 { margin-bottom: 20px; }
.theme-margin-bottom-25 { margin-bottom: 25px; }
.theme-margin-bottom-30 { margin-bottom: 30px; }
.theme-margin-bottom-40 { margin-bottom: 40px; }
.theme-margin-bottom-45 { margin-bottom: 45px; }
.theme-margin-left-5 { margin-left: 5px; }
.theme-margin-left-10 { margin-left: 10px; }
.theme-margin-left-15 { margin-left: 15px; }
.theme-margin-left-20 { margin-left: 20px; }
.theme-margin-left-25 { margin-left: 25px; }
.theme-margin-left-30 { margin-left: 30px; }
.theme-margin-left-35 { margin-left: 35px; }
.theme-margin-right-5 { margin-right: 5px; }
.theme-margin-right-10 { margin-right: 10px; }
.theme-margin-right-15 { margin-right: 15px; }
.theme-margin-right-20 { margin-right: 20px; }
.theme-margin-right-25 { margin-right: 25px; }
.theme-margin-right-30 { margin-right: 30px; }

/* Paddings */
.theme-padding-5 { padding: 5px; }
.theme-padding-10 { padding: 10px; }
.theme-padding-15 { padding: 15px; }
.theme-padding-20 { padding: 20px; }
.theme-padding-25 { padding: 25px; }
.theme-padding-30 { padding: 30px; }
.theme-padding-35 { padding: 35px; }
.theme-padding-40 { padding: 40px; }
.theme-padding-75 { padding: 75px; }
.theme-padding-top-5 { padding-top: 5px; }
.theme-padding-top-10 { padding-top: 10px; }
.theme-padding-top-15 { padding-top: 15px; }
.theme-padding-top-20 { padding-top: 20px; }
.theme-padding-top-25 { padding-top: 25px; }
.theme-padding-top-30 { padding-top: 30px; }
.theme-padding-top-45 { padding-top: 45px; }
.theme-padding-bottom-5 { padding-bottom: 5px; }
.theme-padding-bottom-10 { padding-bottom: 10px; }
.theme-padding-bottom-15 { padding-bottom: 15px; }
.theme-padding-bottom-20 { padding-bottom: 20px; }
.theme-padding-bottom-25 { padding-bottom: 25px; }
.theme-padding-bottom-30 { padding-bottom: 30px; }
.theme-padding-bottom-40 { padding-bottom: 40px; }
.theme-padding-left-5 { padding-left: 5px; }
.theme-padding-left-10 { padding-left: 10px; }
.theme-padding-left-15 { padding-left: 15px; }
.theme-padding-left-20 { padding-left: 20px; }
.theme-padding-left-25 { padding-left: 25px; }
.theme-padding-left-30 { padding-left: 30px; }
.theme-padding-left-50 { padding-left: 50px; }
.theme-padding-left-60 { padding-left: 60px; }
.theme-padding-left-70 { padding-left: 70px; }
.theme-padding-right-5 { padding-right: 5px; }
.theme-padding-right-10 { padding-right: 10px; }
.theme-padding-right-15 { padding-right: 15px; }
.theme-padding-right-20 { padding-right: 20px; }
.theme-padding-right-25 { padding-right: 25px; }
.theme-padding-right-30 { padding-right: 30px; }

/* Input, textarea and select widths */
.theme-width-50 { width: 30px; }
.theme-width-75 { width: 55px; }
.theme-width-100 { width: 80px; }
.theme-width-125 { width: 105px; }
.theme-width-150 { width: 130px; }
.theme-width-175 { width: 155px; }
.theme-width-200 { width: 180px; }
.theme-width-225 { width: 205px; }
.theme-width-250 { width: 230px; }
.theme-width-275 { width: 255px; }
.theme-width-300 { width: 280px; }
.theme-width-325 { width: 305px; }
.theme-width-350 { width: 330px; }
.theme-width-375 { width: 355px; }
.theme-width-400 { width: 380px; }
.theme-width-425 { width: 405px; }
.theme-width-450 { width: 430px; }
.theme-width-475 { width: 475px; }
.theme-width-500 { width: 480px; }
.theme-width-525 { width: 505px; }
.theme-width-550 { width: 530px; }
.theme-width-575 { width: 555px; }
.theme-width-600 { width: 580px; }
.theme-width-625 { width: 605px; }
.theme-width-650 { width: 630px; }
.theme-width-675 { width: 655px; }
.theme-width-700 { width: 680px; }
.theme-width-725 { width: 705px; }
.theme-width-750 { width: 730px; }
.theme-width-775 { width: 755px; }
.theme-width-800 { width: 780px; }
.theme-width-825 { width: 805px; }
.theme-width-850 { width: 830px; }
.theme-width-875 { width: 855px; }
.theme-width-900 { width: 880px; }
.theme-width-925 { width: 905px; }
.theme-width-950 { width: 930px; }
.theme-width-975 { width: 955px; }
.theme-width-1000 { width: 980px; }

.theme-selectbox.theme-width-50 { width: 50px; }
.theme-selectbox.theme-width-75 { width: 75px; }
.theme-selectbox.theme-width-100 { width: 100px; }
.theme-selectbox.theme-width-125 { width: 125px; }
.theme-selectbox.theme-width-150 { width: 150px; }
.theme-selectbox.theme-width-175 { width: 175px; }
.theme-selectbox.theme-width-200 { width: 200px; }
.theme-selectbox.theme-width-225 { width: 225px; }
.theme-selectbox.theme-width-250 { width: 250px; }
.theme-selectbox.theme-width-275 { width: 275px; }
.theme-selectbox.theme-width-300 { width: 300px; }
.theme-selectbox.theme-width-325 { width: 325px; }
.theme-selectbox.theme-width-350 { width: 350px; }
.theme-selectbox.theme-width-375 { width: 375px; }
.theme-selectbox.theme-width-400 { width: 400px; }
.theme-selectbox.theme-width-425 { width: 425px; }
.theme-selectbox.theme-width-450 { width: 450px; }
.theme-selectbox.theme-width-475 { width: 475px; }
.theme-selectbox.theme-width-500 { width: 500px; }
.theme-selectbox.theme-width-525 { width: 525px; }
.theme-selectbox.theme-width-550 { width: 550px; }
.theme-selectbox.theme-width-575 { width: 575px; }
.theme-selectbox.theme-width-600 { width: 600px; }
.theme-selectbox.theme-width-625 { width: 625px; }
.theme-selectbox.theme-width-650 { width: 650px; }
.theme-selectbox.theme-width-675 { width: 675px; }
.theme-selectbox.theme-width-700 { width: 700px; }
.theme-selectbox.theme-width-725 { width: 725px; }
.theme-selectbox.theme-width-750 { width: 750px; }
.theme-selectbox.theme-width-775 { width: 775px; }
.theme-selectbox.theme-width-800 { width: 800px; }
.theme-selectbox.theme-width-825 { width: 825px; }
.theme-selectbox.theme-width-850 { width: 850px; }
.theme-selectbox.theme-width-875 { width: 875px; }
.theme-selectbox.theme-width-900 { width: 900px; }
.theme-selectbox.theme-width-925 { width: 925px; }
.theme-selectbox.theme-width-950 { width: 950px; }
.theme-selectbox.theme-width-975 { width: 975px; }
.theme-selectbox.theme-width-1000 { width: 1000px; }

.theme-width-50 select { width: 80px; }
.theme-width-75 select { width: 105px; }
.theme-width-100 select { width: 130px; }
.theme-width-125 select { width: 155px; }
.theme-width-150 select { width: 180px; }
.theme-width-175 select { width: 205px; }
.theme-width-200 select { width: 230px; }
.theme-width-225 select { width: 255px; }
.theme-width-250 select { width: 280px; }
.theme-width-275 select { width: 305px; }
.theme-width-300 select { width: 330px; }
.theme-width-325 select { width: 355px; }
.theme-width-350 select { width: 380px; }
.theme-width-375 select { width: 405px; }
.theme-width-400 select { width: 430px; }
.theme-width-425 select { width: 455px; }
.theme-width-450 select { width: 480px; }
.theme-width-475 select { width: 505px; }
.theme-width-500 select { width: 530px; }
.theme-width-525 select { width: 555px; }
.theme-width-550 select { width: 580px; }
.theme-width-575 select { width: 605px; }
.theme-width-600 select { width: 630px; }
.theme-width-625 select { width: 655px; }
.theme-width-650 select { width: 680px; }
.theme-width-675 select { width: 705px; }
.theme-width-700 select { width: 730px; }
.theme-width-725 select { width: 755px; }
.theme-width-750 select { width: 780px; }
.theme-width-775 select { width: 805px; }
.theme-width-800 select { width: 830px; }
.theme-width-825 select { width: 855px; }
.theme-width-850 select { width: 880px; }
.theme-width-875 select { width: 905px; }
.theme-width-900 select { width: 930px; }
.theme-width-925 select { width: 955px; }
.theme-width-950 select { width: 980px; }
.theme-width-975 select { width: 1005px; }
.theme-width-1000 select { width: 1030px; }

/* Text Elements */
.theme-h1 { font-size: 36px; color: #303030; line-height: 1.2; padding: 0 0 5px; font-weight: normal; }
.theme-h1.t-yellow { font-size: 42px; color: #efeab1; }
.theme-h1.t-white { font-size: 36px; color: #fff; }
.theme-h2 { font-size: 30px; color: #303030; line-height: 1.2; padding: 0 0 5px; font-weight: normal; }
.theme-h2.t-yellow { color: #efeab1; }
.theme-h2.t-white { font-family: 'ApexNewBook'; font-size: 24px; color: #fff; }
.theme-h3 { font-size: 24px; color: #303030; line-height: 1.2; padding: 0 0 5px; font-weight: normal; }
.theme-h3.t-smaller { font-size: 16px; font-family: 'ApexNewBook'; color: #fff; }
.theme-h3.t-white { font-family: 'ApexNewBook'; font-size: 30px; color: #fff; }
.theme-h4 { font-family: 'ApexNewBook'; font-size: 21px; color: #303030; line-height: 1.2; padding: 0 0 5px; font-weight: normal; }
.theme-h4.t-yellow { font-size: 24px; color: #efeab1; }
.theme-h5 { font-size: 18px; line-height: 1.2; color: #303030; padding: 0 0 8px; font-weight: normal; }
.theme-h5.t-white { font-size: 21px; color: #fff; }
.theme-h5.t-yellow { color: #efeab1; }
.theme-h6 { font-size: 16px; line-height: 1.2; color: #303030; padding: 0 0 10px; font-weight: normal; }
.theme-h6.t-white { font-size: 18px; color: #fff; }
.theme-h6 .t-yellow { color: #efeab1; }
.theme-p { font-size: 12px; line-height: 1.3; padding: 0 0 10px; color: #303030; }
.theme-p.t-smaller { font-size: 13px; color: #fff; }
.theme-p.t-white { font-size: 14px; color: #fff; }
.theme-ul { list-style: none; font-size: 13px; line-height: 24px; color: #303030; padding: 0 0 20px 20px; }
.theme-ul.t-white { color: #fff; }
.theme-ul li { background: url(theme/entry-li.png) 0 10px no-repeat; padding: 0 0 0 7px; }
.theme-ul.t-white li { background-image: url(theme/entry-li-dark.png); }
.theme-ol { font-size: 13px; line-height: 24px; color: #303030; padding: 0 0 20px 27px; }
.theme-ol.t-white { color: #fff; }
.t-blue { color: #a5cce6; }

/* Labels */
.theme-label { font-size: 11px; display: block; padding: 5px; display: block; text-transform: uppercase; color: #363636; }
.theme-label.t-center { text-align: center; }
.theme-label.theme-error { color: #ea1b22; }
.theme-label.theme-checklabel-l { font-size: 14px; line-height: 24px; color: #111; height: 24px; padding: 0 0 0 36px !important; margin: 0; position: relative; }
.theme-label.theme-checklabel-s { font-size: 13px; line-height: 16px; color: #111; height: 16px; padding: 0 0 0 26px !important; margin: 0; position: relative; }

/* Field Add-Ons */
span.theme-helper { font-size: 11px; display: block; padding: 5px; color: #666; }
.theme-error .theme-radio,
.theme-error .theme-check { border: 2px solid #ea1b22; }

/* Input, Textarea fields. */
.theme-field, .theme-input, .theme-select, .theme-textarea { font-family: 'ApexNewMedium'; }
.theme-field { background: #fff; background: rgba(255,255,255,0.4); border: none; border-radius: 5px; display: block; box-shadow: 0 1px 3px rgba(0,0,0,0.75) inset; font-size: 13px; line-height: 15px; padding: 5px 10px; color: #666; text-shadow: 0 1px 0 rgba(255,255,255,.8); letter-spacing: 1px; }
.theme-field:focus { background: #e0eff7; color: #111; background: rgba(224, 239, 247, 0.4); }
.theme-field.t-center { text-align: center; background: #e0eff7; background: rgba(224, 239, 247, 0.4); font-size: 11px; }
.theme-field.theme-error,
.theme-selectbox.theme-error { border: 2px solid #ea1b22; position: relative; }
.theme-selectbox.theme-error { border-radius: 3px; }
.theme-field.t-center.theme-error { background: #e2b7b7; background: rgba(226,183,183,.4); }
.theme-textarea { height: 80px; }

/* Select Boxes */
.theme-selectbox { background: #f5f5f5; background: -moz-linear-gradient(top, #f5f5f5 0%, #e6e6e6 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#e6e6e6)); background: -webkit-linear-gradient(top, #f5f5f5 0%,#e6e6e6 100%); background: -o-linear-gradient(top, #f5f5f5 0%,#e6e6e6 100%); background: -ms-linear-gradient(top, #f5f5f5 0%,#e6e6e6 100%); background: linear-gradient(top, #f5f5f5 0%,#e6e6e6 100%); border: 1px solid #bdbdbd; position: relative; overflow: hidden; height: 27px; border-radius: 1px; box-shadow: 0 1px 0 #fff inset, 1px 0 0 #fff inset, -1px 0 0 #fff inset, 0 -1px 0 #fff inset, 0 1px 1px #a8a8a8; }
.theme-selectbox:hover { background: #dcd8d5; background: -moz-linear-gradient(top, #dcd8d5 0%, #fcf9f7 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcd8d5), color-stop(100%,#fcf9f7)); background: -webkit-linear-gradient(top, #dcd8d5 0%,#fcf9f7 100%); background: -o-linear-gradient(top, #dcd8d5 0%,#fcf9f7 100%); background: -ms-linear-gradient(top, #dcd8d5 0%,#fcf9f7 100%); background: linear-gradient(top, #dcd8d5 0%,#fcf9f7 100%); }
.theme-selectbox select { background: transparent; border: none; height: 27px; position: absolute; top: 0; left: -1px; font-size: 14px; padding: 3px 10px; color: #363636; }
.theme-selectbox select option { padding: 0 10px; }
.theme-selectbox .arrow { float: right; background: url(theme/selectbox-arrow.png); width: 20px; height: 27px; border-left: 1px solid #bdbdbd; }
.theme-selectbox:hover .arrow { background-position: 0 -27px; }
span.theme-error { font-size: 14px; display: block; padding: 5px; color: #ea1b22; }
span.theme-error.left { padding: 0 10px; line-height: 28px; }

/* Radio / Check fields */
.theme-check .checkbox,
.theme-radio .radio { width: 13px; height: 13px; position: absolute; top: 0; left: -10000px; }
.theme-check { background: #ffffff; background: -moz-linear-gradient(top, #ffffff 0%, #969696 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#969696)); background: -webkit-linear-gradient(top, #ffffff 0%,#969696 100%); background: -o-linear-gradient(top, #ffffff 0%,#969696 100%); background: -ms-linear-gradient(top, #ffffff 0%,#969696 100%); background: linear-gradient(top, #ffffff 0%,#969696 100%); position: absolute; top: 0; left: 0; border: 1px solid #acacac; border-radius: 5px; } 
.theme-radio { background: #ffffff; background: -moz-linear-gradient(top, #ffffff 0%, #969696 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#969696)); background: -webkit-linear-gradient(top, #ffffff 0%,#969696 100%); background: -o-linear-gradient(top, #ffffff 0%,#969696 100%); background: -ms-linear-gradient(top, #ffffff 0%,#969696 100%); background: linear-gradient(top, #ffffff 0%,#969696 100%); position: absolute; top: 0; left: 0; border: 1px solid #acacac; border-radius: 12px; }
.theme-radio.checked { background: #969696; background: -moz-linear-gradient(top, #969696 0%, #ffffff 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#969696), color-stop(100%,#ffffff)); background: -webkit-linear-gradient(top, #969696 0%,#ffffff 100%); background: -o-linear-gradient(top, #969696 0%,#ffffff 100%); background: -ms-linear-gradient(top, #969696 0%,#ffffff 100%); background: linear-gradient(top, #969696 0%,#ffffff 100%); }
.theme-radio span { background: #3e8ebf; background: -moz-linear-gradient(top, #3e8ebf 0%, #29709b 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e8ebf), color-stop(100%,#29709b)); background: -webkit-linear-gradient(top, #3e8ebf 0%,#29709b 100%); background: -o-linear-gradient(top, #3e8ebf 0%,#29709b 100%); background: -ms-linear-gradient(top, #3e8ebf 0%,#29709b 100%); background: linear-gradient(top, #3e8ebf 0%,#29709b 100%); box-shadow: 1px 1px 1px rgba(178,214,236,.75), 1px 0 1px rgba(4,80,140,0.75) inset; display: none; }
.checked span { display: block !important; }

.theme-checklabel-l .theme-check,
.theme-checklabel-l .theme-radio { width: 22px; height: 22px; }
.theme-checklabel-l .theme-check span { background: url(theme/checkbox-large.png); width: 24px; height: 29px; position: absolute; top: -10px; left: 3px; display: none; }
.theme-checklabel-l .theme-radio span { width: 14px; height: 14px; position: absolute; top: 4px; left: 4px; border-radius: 7px; }
.theme-checklabel-s .theme-check,
.theme-checklabel-s .theme-radio { width: 14px; height: 14px; }
.theme-checklabel-s .theme-check span { background: url(theme/checkbox-small.png); width: 16px; height: 20px; position: absolute; top: -7px; left: 1px; display: none; }
.theme-checklabel-s .theme-radio span { width: 8px; height: 8px; border-radius: 5px; position: absolute; top: 3px; left: 3px; }



/* Buttons */
.grey-button { border: 1px solid #4e4e4e; border-radius: 5px; display: inline-block; font-size: 13px; line-height: 32px; text-align: center; padding: 0 17px; background: #747474; background: -moz-linear-gradient(top, #747474 0%, #494949 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747474), color-stop(100%,#494949)); background: -webkit-linear-gradient(top, #747474 0%,#494949 100%); background: -o-linear-gradient(top, #747474 0%,#494949 100%); background: -ms-linear-gradient(top, #747474 0%,#494949 100%); background: linear-gradient(top, #747474 0%,#494949 100%); text-transform: uppercase; color: #fff; cursor: pointer; box-shadow: 0 1px 1px rgba(255,255,255,0.5) inset; }
input.grey-button { height: 34px; }
.grey-button:hover { text-decoration: none; background: #494949; background: -moz-linear-gradient(top, #494949 0%, #747474 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#747474)); background: -webkit-linear-gradient(top, #494949 0%,#747474 100%); background: -o-linear-gradient(top, #494949 0%,#747474 100%); background: -ms-linear-gradient(top, #494949 0%,#747474 100%); background: linear-gradient(top, #494949 0%,#747474 100%); }

.theme-grey-button-s { border: 1px solid #4e4e4e; border-radius: 5px; display: inline-block; font-size: 12px; line-height: 28px; text-align: center; padding: 0 17px; background: #747474; background: -moz-linear-gradient(top, #747474 0%, #494949 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#747474), color-stop(100%,#494949)); background: -webkit-linear-gradient(top, #747474 0%,#494949 100%); background: -o-linear-gradient(top, #747474 0%,#494949 100%); background: -ms-linear-gradient(top, #747474 0%,#494949 100%); background: linear-gradient(top, #747474 0%,#494949 100%); text-transform: uppercase; color: #fff; cursor: pointer; box-shadow: 0 1px 1px rgba(255,255,255,0.5) inset; }
input.theme-grey-button-s { height: 30px; }
.theme-grey-button-s:hover { text-decoration: none; background: #494949; background: -moz-linear-gradient(top, #494949 0%, #747474 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#494949), color-stop(100%,#747474)); background: -webkit-linear-gradient(top, #494949 0%,#747474 100%); background: -o-linear-gradient(top, #494949 0%,#747474 100%); background: -ms-linear-gradient(top, #494949 0%,#747474 100%); background: linear-gradient(top, #494949 0%,#747474 100%); }

.theme-large-spinner { background: url(theme/ajax-loader-large.gif); width: 31px; height: 31px; display: inline-block; }
.theme-small-spinner { background: url(theme/loading.gif); width: 32px; height: 32px; display: inline-block; }

.theme-large-button,
.theme-small-button { background: #9dae29; background: -moz-linear-gradient(top, #9dae29 0%, #527116 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dae29), color-stop(100%,#527116)); background: -webkit-linear-gradient(top, #9dae29 0%,#527116 100%); background: -o-linear-gradient(top, #9dae29 0%,#527116 100%); background: -ms-linear-gradient(top, #9dae29 0%,#527116 100%); background: linear-gradient(top, #9dae29 0%,#527116 100%); border: 1px solid #527116; border-radius: 3px; display: inline-block; box-shadow: 1px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 1px rgba(0,0,0,0.65); color: #fffad3; text-shadow: 0 1px 1px #77965d; text-decoration: none; cursor: pointer; }
.theme-large-button:hover,
.theme-small-button:hover { text-decoration: none; background: #9dae29; background: -moz-linear-gradient(top, #9dae29 0%, #446308 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dae29), color-stop(100%,#446308)); background: -webkit-linear-gradient(top, #9dae29 0%,#446308 100%); background: -o-linear-gradient(top, #9dae29 0%,#446308 100%); background: -ms-linear-gradient(top, #9dae29 0%,#446308 100%); background: linear-gradient(top, #9dae29 0%,#446308 100%); }

.theme-large-button { font-size: 18px; line-height: 18px; padding: 10px 20px; }
.theme-small-button,
.theme-small-blue-button { font-size: 16px; line-height: 18px; padding: 7px 20px; text-transform: uppercase; }

.theme-small-blue-button { background: #3e8ebe; background: -moz-linear-gradient(top, #3e8ebe 0%, #29719c 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e8ebe), color-stop(100%,#29719c)); background: -webkit-linear-gradient(top, #3e8ebe 0%,#29719c 100%); background: -o-linear-gradient(top, #3e8ebe 0%,#29719c 100%); background: -ms-linear-gradient(top, #3e8ebe 0%,#29719c 100%); background: linear-gradient(top, #3e8ebe 0%,#29719c 100%); border: 1px solid #04508c; border-radius: 3px; display: inline-block; box-shadow: 1px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 1px rgba(0,0,0,0.65); color: #fffad3; text-shadow: 0 1px 1px #77965d; text-decoration: none; cursor: pointer; }
.theme-small-blue-button:hover { text-decoration: none; background: #3e8ebe; background: -moz-linear-gradient(top, #3e8ebe 0%, #0d4e75 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e8ebe), color-stop(100%,#0d4e75)); background: -webkit-linear-gradient(top, #3e8ebe 0%,#0d4e75 100%); background: -o-linear-gradient(top, #3e8ebe 0%,#0d4e75 100%); background: -ms-linear-gradient(top, #3e8ebe 0%,#0d4e75 100%); background: linear-gradient(top, #3e8ebe 0%,#0d4e75 100%); }

input.theme-large-button { height: 40px; }
input.theme-small-button { height: 34px; }

.theme-red-button { background: #95312d; background: -moz-linear-gradient(top, #95312d 0%, #7b2624 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95312d), color-stop(100%,#7b2624)); background: -webkit-linear-gradient(top, #95312d 0%,#7b2624 100%); background: -o-linear-gradient(top, #95312d 0%,#7b2624 100%); background: -ms-linear-gradient(top, #95312d 0%,#7b2624 100%); background: linear-gradient(top, #95312d 0%,#7b2624 100%); border: 1px solid #611c19; border-radius: 4px; box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset; display: inline-block; font-size: 14px; line-height: 34px; color: #eedfb2; padding: 0 15px; text-transform: uppercase; }
.theme-red-button:hover { background: #7b2624; background: -moz-linear-gradient(top, #7b2624 0%, #95312d 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7b2624), color-stop(100%,#95312d)); background: -webkit-linear-gradient(top, #7b2624 0%,#95312d 100%); background: -o-linear-gradient(top, #7b2624 0%,#95312d 100%); background: -ms-linear-gradient(top, #7b2624 0%,#95312d 100%); background: linear-gradient(top, #7b2624 0%,#95312d 100%); text-decoration: none; }
.theme-red-button .plus-icon { background: url(theme/circ-plus-red.png) 0 5px no-repeat; }

.theme-green-button { background: #5a833e; background: -moz-linear-gradient(top, #5a833e 0%, #416726 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a833e), color-stop(100%,#416726)); background: -webkit-linear-gradient(top, #5a833e 0%,#416726 100%); background: -o-linear-gradient(top, #5a833e 0%,#416726 100%); background: -ms-linear-gradient(top, #5a833e 0%,#416726 100%); background: linear-gradient(top, #5a833e 0%,#416726 100%); border: 1px solid #3a4a2c; border-radius: 4px; box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset; display: inline-block; font-size: 14px; line-height: 34px; color: #fff; text-transform: uppercase; padding: 0 15px; }
.theme-green-button:hover { background: #416726; background: -moz-linear-gradient(top, #416726 0%, #5a833e 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#416726), color-stop(100%,#5a833e)); background: -webkit-linear-gradient(top, #416726 0%,#5a833e 100%); background: -o-linear-gradient(top, #416726 0%,#5a833e 100%); background: -ms-linear-gradient(top, #416726 0%,#5a833e 100%); background: linear-gradient(top, #416726 0%,#5a833e 100%); text-decoration: none; }
.theme-green-button .plus-icon { background: url(theme/circ-plus-green.png) 0 5px no-repeat; }

.theme-green-button2 { background: #567e3b; background: -moz-linear-gradient(top, #567e3b 0%, #436928 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#567e3b), color-stop(100%,#436928)); background: -webkit-linear-gradient(top, #567e3b 0%,#436928 100%); background: -o-linear-gradient(top, #567e3b 0%,#436928 100%); background: -ms-linear-gradient(top, #567e3b 0%,#436928 100%); background: linear-gradient(top, #567e3b 0%,#436928 100%); font-size: 16px; line-height: 32px; text-align: center; display: inline-block; text-transform: uppercase; color: #fefacb; text-shadow: 0 1px 0 rgba(0,0,0,.6); border-radius: 3px; box-shadow: 0 0 4px rgba(0,0,0,.8), 0 1px 0 rgba(255,255,255,0.3) inset; }
.theme-green-button2:hover { background: #567e3b; background: -moz-linear-gradient(top, #567e3b 0%, #567e3b 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#567e3b), color-stop(100%,#567e3b));background: -webkit-linear-gradient(top, #567e3b 0%,#567e3b 100%); background: -o-linear-gradient(top, #567e3b 0%,#567e3b 100%); background: -ms-linear-gradient(top, #567e3b 0%,#567e3b 100%); background: linear-gradient(top, #567e3b 0%,#567e3b 100%); text-decoration: none; }

.theme-green-button3 { background: #567e3b; background: -moz-linear-gradient(top, #567e3b 0%, #436928 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#567e3b), color-stop(100%,#436928)); background: -webkit-linear-gradient(top, #567e3b 0%,#436928 100%); background: -o-linear-gradient(top, #567e3b 0%,#436928 100%); background: -ms-linear-gradient(top, #567e3b 0%,#436928 100%); background: linear-gradient(top, #567e3b 0%,#436928 100%); font-size: 18px; line-height: 42px; text-align: center; display: inline-block; text-transform: uppercase; color: #fefacb; text-shadow: 0 1px 0 rgba(0,0,0,.6); border-radius: 3px; box-shadow: 0 0 4px rgba(0,0,0,.8), 0 1px 0 rgba(255,255,255,0.3) inset; }
.theme-green-button3:hover { background: #567e3b; background: -moz-linear-gradient(top, #567e3b 0%, #567e3b 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#567e3b), color-stop(100%,#567e3b));background: -webkit-linear-gradient(top, #567e3b 0%,#567e3b 100%); background: -o-linear-gradient(top, #567e3b 0%,#567e3b 100%); background: -ms-linear-gradient(top, #567e3b 0%,#567e3b 100%); background: linear-gradient(top, #567e3b 0%,#567e3b 100%); text-decoration: none; }

.theme-green-button3 .arrow-right { float: left; position: relative; margin: 0 -6px 0 0; padding: 0 28px 0 0; background: url(theme/theme-button-arrow-right.png) right 0 no-repeat; }

.theme-blue-button { background: #4887c0; background: -moz-linear-gradient(top, #4887c0 0%, #2d63ac 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4887c0), color-stop(100%,#2d63ac)); background: -webkit-linear-gradient(top, #4887c0 0%,#2d63ac 100%); background: -o-linear-gradient(top, #4887c0 0%,#2d63ac 100%); background: -ms-linear-gradient(top, #4887c0 0%,#2d63ac 100%); background: linear-gradient(top, #4887c0 0%,#2d63ac 100%); border: 1px solid #2e6ea5; border-radius: 4px; box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset; display: inline-block; font-size: 14px; line-height: 34px; color: #fff; text-transform: uppercase; padding: 0 15px; }
.theme-blue-button:hover { background: #2d63ac; background: -moz-linear-gradient(top, #2d63ac 0%, #4887c0 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2d63ac), color-stop(100%,#4887c0)); background: -webkit-linear-gradient(top, #2d63ac 0%,#4887c0 100%); background: -o-linear-gradient(top, #2d63ac 0%,#4887c0 100%); background: -ms-linear-gradient(top, #2d63ac 0%,#4887c0 100%); background: linear-gradient(top, #2d63ac 0%,#4887c0 100%); text-decoration: none; }
.theme-blue-button .arrow-icon { background: url(theme/circ-arrow-blue.png) 0 5px no-repeat; }

a span.plus-icon,
a span.arrow-icon { float: left; padding-left: 34px; padding-right: 12px; }

.theme-big-blue-button { background: #3e8ebf; background: -moz-linear-gradient(top, #3e8ebf 0%, #29709b 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e8ebf), color-stop(100%,#29709b)); background: -webkit-linear-gradient(top, #3e8ebf 0%,#29709b 100%); background: -o-linear-gradient(top, #3e8ebf 0%,#29709b 100%); background: -ms-linear-gradient(top, #3e8ebf 0%,#29709b 100%); background: linear-gradient(top, #3e8ebf 0%,#29709b 100%); border-radius: 3px; display: inline-block; padding: 2px 18px 0; font-size: 18px; line-height: 40px; color: #fff; text-transform: uppercase; text-shadow: 0 1px 0 rgba(0,0,0,0.8); box-shadow: 0 1px 0 rgba(255,255,255,0.3) inset, 0 0 4px rgba(0,0,0,0.8); }
.theme-big-blue-button:hover { text-decoration: none; background: #29709b; background: -moz-linear-gradient(top, #29709b 0%, #3e8ebf 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29709b), color-stop(100%,#3e8ebf)); background: -webkit-linear-gradient(top, #29709b 0%,#3e8ebf 100%); background: -o-linear-gradient(top, #29709b 0%,#3e8ebf 100%); background: -ms-linear-gradient(top, #29709b 0%,#3e8ebf 100%); background: linear-gradient(top, #29709b 0%,#3e8ebf 100%); }

.theme-big-blue-button span { float: left; }
.theme-big-blue-button .theme-arrow-down { background: url(theme/theme-blue-button-arrow-down.png) right -2px no-repeat; padding-right: 25px; line-height: 40px; }

/* Extra Stuff */
.theme-dark-bg { background: #2c2c2c url(theme/dark-bg.png); padding: 20px 0; }
.theme-body { background: #F2F1F0 url(theme/wo-sidebar.gif); }
.theme-shell { margin: 0 auto; width: 1142px; }

/* Tooltip */

#sky-tooltip { position: absolute; top: 0; left: 0; z-index: 500; background: #feffd5; border: 3px solid #efd86e; border-radius: 2px; display: none; width: 320px; }
#sky-tooltip .arrow { background: url(theme/yellow-tooltip-arrow.png); width: 14px; height: 18px; position: absolute; top: 16px; left: -17px; }
#sky-tooltip h3 { font-size: 18px; line-height: 24px; color: #212121; }
#sky-tooltip h4 { font-size: 16px; line-height: 24px; color: #212121; padding: 0 0 8px; }
#sky-tooltip p { font-size: 13px; line-height: 16px; padding: 0 0 12px; }
#sky-tooltip ul { list-style: none; padding: 0 0 12px; }
#sky-tooltip ul li:before { content: 'â€¢ '; font-size: 16px; position: relative; top: 2px; }
#sky-tooltip .entry { padding: 10px 10px 0; }