// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.photo {
	float: right;
}

.attributes {
	float: left;
}

fieldset {
	width:650px;
	margin: auto auto auto auto;
}

.outer {
	width: 700px;
}

.map {
	float: right;
}