// ---------------------------------------------------------------------------
// Imports
@import "base";
@import "mixins";
@import "sassybuttons";
@import "home";
@import "forms";
@import "header";
@import "cssanim";
@import "footer";
@import "nav";
@import "daslider";
@import "btn";
@import "maps";
@import "listholder";


/* -------------------------------------------------------------------------*/
/* Layout */

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

//After Reset

html{
	height: 100%;
	padding: 0;
}
body {
    font-size: 18px;
    line-height: 24px;
    text-shadow: 0px 1px 1px rgba(255,255,255,.3);
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'HelveticaLight', Helvetica, Arial, sans-serif;
    color: #303030;
    background: #2c2c2c;
    min-width: 100%;
}

.container {
  @include container;
  @include susy-grid-background;
  @include rounded-corners(7px);
  height: 100%;
  margin-bottom: -50px ;
}

header {
	@include span-columns(12,12);
  	@include text-shadow(1px, 1px, 2px, #000);
	height: 200px;
	width: 100%;
	padding: 0;
	background: #ececec;
	color: #303030;
	font-weight: bold;
}

.search {
	@include span-columns(12,12);
	@include box-shadow(1px, 1px, 1px, 1px, #ccc);
	@include text-shadow(1px, 1px, 1px, #ccc);
	background-image: url(/assets/wild_oliva.png);
	margin: 0 auto;
	color: #000;
	height: 50px;
	font-size: 12px;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
}

.homebbsearch {
	@include rounded-corners(7px);
	height: 20px;
	width: 70px;
	font-size: 12px;
	font-weight: bold;
}

.homerentmin {
	@include rounded-corners(7px);
	height: 17px;
	width: 100px;
	margin-left: 12px;
	font-size: 12px;
	font-weight: bold;
}

.homerentmax {
	@include rounded-corners(7px);
	height: 17px;
	width: 100px;
	margin-left: 4px;
	font-size: 12px;
	font-weight: bold;
}

#search {
	@include span-columns(4	,12);
	@include rounded-corners(7px);
	height: 40px;
	font-size: 18px;
	margin-top: 2px;
	margin-left: 17%;
}

.homebtnlabel {
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.homebtnlabelmax {
	color: white;
	margin-left: 20px;
	font-size: 12px;
	font-weight: bold;
}

#searchhome {
	@include rounded-corners(7px);
	width: 540px;
	height: 40px;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#rentbar {
	@include rounded-corners(7px);
	width: 40px;
	height: 10px;
	padding: 2px;
}

#wrapper {
    border: solid 0px #0F0;
    border-style:none;
    width: auto;
    overflow-x: hidden !important;
    padding:0; 
    margin-top: 150px;
	@include span-columns(12,12);
}

#adminwrapper {
    border: solid 0px #0F0;
    border-style:none;
    width: auto;
    color: #ececec;
    overflow-x: hidden !important;
    padding:0; 
    margin-top: 175px;
    margin-left: 50px;
	@include span-columns(12,12);
}

.avail {
	font-size: 10px;
}

.options {
	@include span-columns(2,12);
	@include rounded-corners(7px);
	float:left;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	font-size: 14px;
}

.optionhead {
	height: 25px;
	margin-right: 0px;
	text-align: right;
	padding: 2px;
	font-size: 12px;
}

.optionbody {
	@include rounded-corners(7px);
	background: #ececec;
	height: 100%;
	min-height: 660px;
	margin-left: 10px;
	color: black;
	padding-left: 20px;
	padding-top: 10px;
	font-weight: bold;
   	-moz-box-shadow: inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow: inset 0 0 10px #000000;
}

.listhead {
	@include span-columns(6,6);
	height: 25px;
	color: #ffffff;
	margin-right: 15px;
	font-size: 12px;
	text-align: left;
	padding: 2px;
}

.listfoot {
	@include span-columns(6,6);
	font-size: 12px;
	color: #fff;
}

.listings-set {
	@include span-columns(10,12);
	@include rounded-corners(7px);
	float: right;
	margin: 0 auto;
}

.listing {
	@include span-columns(6,10);
	float: left;
	margin: 0 auto;
	height: 100%;
}

.listbody {
	margin-top: 35px;
}

#option-arrow{
	float: right;
	position: relative;
	margin-right: 5px;
}

.goleft {
	text-decoration: none;
	opacity: 0;
}

.goright {
	text-decoration: none;
	opacity: 0;
}

footer {
  	@include text-shadow(1px, 1px, 2px, #000);
	height: 50px;
	font-weight: lighter;
	background-image: url(/assets/wild_oliva.png);
	color: lighten(#f708ad, 1%);	font-weight: bold;
	@include span-columns(12,12);
  }

#linkright {
  }

.login {
	@include span-columns(3,10);
	float: right;
	text-align: right;
}

.login a {
	text-decoration: none;
	color: #000000;
}

#homemain {
	margin-top: 0 auto;
}


.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
